@charset "UTF-8";

/* Css Geral */

@media all{
    *{
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html, body{
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    h1{
        color: white;
        text-shadow: 2px 3px 3px #0f1a6a ;
        padding: 15px;
    }
}

/* Css Retrato (portrait)*/
@media screen and (orientation: portrait){
    body{
        background-image: url(../mq003/midia/cev-portrait.jpg);
        background-position: center bottom;
    }         
}

/* Css Paisagem (landscape) */
@media screen and (orientation: landscape){      
    body{
        background-image: url(../mq003/midia/cev-landscape.jpg);
        background-position: left bottom;
    }        
}